<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Projects Manager</title>
  <link href="/css/site.css" type="text/css" rel="stylesheet">
</head>

<body>
  <header>
    <ul>
      <li><a href="/">Home</a></li>
      {{#if user}}
      <li><a href="/projects">Projects</a></li>
      <li><a href="/teams">Teams</a></li>
      {{/if}}
      {{#if isAdmin}}
      <li><a href="/create-team">Create Team</a></li>
      <li><a href="/create-project">Create Project</a></li>
      {{/if}}
      <div class="right">
        {{#if user}}
        <li>Welcome, {{user.username}}!</li>
        <li><a href="/profile">Profile</a></li>
        <li>
          <form id="logout-form" action="/logout" method="get"></form>
          <a href="javascript:document.getElementById('logout-form').submit()">Logout</a>
        </li>
        {{else}}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        {{/if}}
      </div>
    </ul>
  </header>
  <main>
    <h1>Projects</h1>
    <form class="search">
      <label>Seach: </label>
      <input type="text" name="search">
      <input type="submit" value="Search">
    </form>
    <div class="projects">
      {{#each projects}}
      <div class="project">
        <h2>{{this.name}}</h2>
        {{#if this.teams}}
        {{#each this.teams}}
          {{#if ../id}}
            <h3>Team: {{../name}}</h3>
          {{/if}}
        {{/each}}
        {{else}}
          <h3>Team: No Team assigned</h3>
        {{/if}}
        <p>Description: {{this.description}}</p>
      </div>
      {{/each}}
    </div>

  </main>
  <footer>
    Express Exam @SoftUni
  </footer>
</body>

</html>