<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Projects Manager</title>
  <link href="/css/site.css" type="text/css" rel="stylesheet">
</head>

<body>
  <header>
    <ul>
      <li><a href="/">Home</a></li>
      {{#if user}}
      <li><a href="/projects">Projects</a></li>
      <li><a href="/teams">Teams</a></li>
      {{/if}}
      {{#if isAdmin}}
      <li><a href="/create-team">Create Team</a></li>
      <li><a href="/create-project">Create Project</a></li>
      {{/if}}
      <div class="right">
        {{#if user}}
        <li>Welcome, {{user.username}}!</li>
        <li><a href="/profile">Profile</a></li>
        <li>
          <form id="logout-form" action="/logout" method="get"></form>
          <a href="javascript:document.getElementById('logout-form').submit()">Logout</a>
        </li>
        {{else}}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        {{/if}}
      </div>
    </ul>
  </header>
  <main>
    <h1>Teams</h1>
    <h3>Manage Users</h3>
    <div class="form">
      <form>
        <label>User</label>
        <select>
          {{#each users}}
          <option value={{this.id}}>{{this.username}}</option>
          {{/each}}
        </select>
        <label>Team</label>
        <select>
          {{#each teams}}
          <option value="{{this.id}}">{{this.name}}</option>
          {{/each}}
        </select>
        <input type="submit" value="Distribute">
      </form>
    </div>

  </main>
  <footer>
    Express Exam @SoftUni
  </footer>
</body>

</html>